@CHARSET "ISO-8859-1";

#center {
    padding: 1%;
    width: 98%;
    display: inline-block;
    height: 79%;
}

#center-content {
    height: 100%;
}

#diagramsSection {
    float: left;
    border-right: 1px solid #CCCCCC;
    width: 70%;
    padding-right: 1%;
    height: inherit;
}

#shareSection {
    float: right;
    width: 28%;
    height: inherit;
}

#diagramButtonsForm button, #sharingButtonsForm button {
    margin-right: 3px;
}

#shareForm .ui-picklist-list {
    width: 250px;
    height: 250px;
}

#shareForm .ui-picklist-filter {
    width: 92%;
}

#shareForm .ui-autocomplete-multiple-container {
    width: 100%;
}
