@CHARSET "ISO-8859-1";

body {
    overflow: hidden;
}

#content {
    padding: 2px !important;
}

#toolbar {
    border:none;
    background: none;
}

#center {
    min-height: 520px;
}

#center-layout {
    margin: 2px;
    min-height: inherit;
}

#center-layout .pe-layout-pane-content {
    padding: 0;
    overflow: hidden;
}

#right .ui-tree {
    width: 100%;
    border: none;
}

#toolbox {
    overflow: auto;
    padding: 3px;
}

#outline, #toolbox {
    height: inherit;
}

#graph {
    height: inherit;
    width: inherit;
    background: url("#{resource['images:grid.gif']}");
}

.toolbox_item {
    cursor: pointer;
    margin-right: 3px;
    border: 1px solid #FFFFFF;
}

.toolbox_item:hover {
    border: 1px solid #CCCCCC;
}

.selected {
    background-color: #CCCCCC;
}

.horizontal_item {
    margin-bottom: 3px;
}

.horizontal_item img {
    vertical-align: middle;
}

.horizontal_item span {
    vertical-align: middle;
}

.icon-accept {
    background: url("#{resource['images:check.png']}") no-repeat center center;
}

.icon-add {
    background: url("#{resource['images:add_16x16.png']}") no-repeat center center;
}

.icon-plus {
    background: url("#{resource['images:plus_16x16.png']}") no-repeat center center;
}

.icon-edit {
    background: url("#{resource['images:edit_16x16.png']}") no-repeat center center;
}

.icon-delete {
    background: url("#{resource['images:delete_16x16.png']}") no-repeat center center;
}

.icon-save {
    background: url("#{resource['images:save_16x16.png']}") no-repeat center center;
}

.icon-up {
    background: url("#{resource['images:up_16x16.png']}") no-repeat center center;
}

.icon-down {
    background: url("#{resource['images:down_16x16.png']}") no-repeat center center;
}

.icon-remove {
    background: url("#{resource['images:remove_16x16.png']}") no-repeat center center;
}

div.mxPopupMenu {
    background: white !important;
    border-color: #AAAAAA !important;
    -webkit-box-shadow: 0px 5px 10px rgba(0,0,0,0.8) !important;
    -moz-box-shadow: 0px 5px 10px rgba(0,0,0,0.8) !important;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.8) !important;
}

tr.mxPopupMenuItemHover {
    background-color: inherit !important;
    color: #E1061A !important;
}

td.mxPopupMenuIcon {
    display: none;
}

td.mxPopupMenuItem {
    cursor: pointer;
}

td.mxPopupMenuItem.disabled {
    cursor: default;
}


