@CHARSET "ISO-8859-1";

#content {
    padding: 2px !important;
}

#toolbar {
    border:none;
    background: none;
}

#center {
    min-height: 520px;
}

#center-layout {
    margin: 2px;
    min-height: inherit;
}

#center-layout .pe-layout-pane-content {
    padding: 0;
    overflow: hidden;
}

#right .ui-tree {
    width: 100%;
    border: none;
}

#toolbox {
    overflow: auto;
    padding: 3px;
}

#outline, #toolbox {
    height: inherit;
}

#graph {
    height: inherit;
    width: inherit;
    background: url("#{resource['images:grid.gif']}");
}

.toolbox_item {
    cursor: pointer;
    margin-right: 3px;
    border: 1px solid #FFFFFF;
}

.toolbox_item:hover {
    border: 1px solid #CCCCCC;
}

.selected {
    background-color: #CCCCCC;
}

.horizontal_item {
    margin-bottom: 3px;
}

.horizontal_item img {
    vertical-align: middle;
}

.horizontal_item span {
    vertical-align: middle;
}

.icon-add {
    background: url("#{resource['images:add_16x16.png']}") no-repeat center center;
}

.icon-edit {
    background: url("#{resource['images:edit_16x16.png']}") no-repeat center center;
}

.icon-remove {
    background: url("#{resource['images:delete_16x16.png']}") no-repeat center center;
}

.icon-save {
    background: url("#{resource['images:save_16x16.png']}") no-repeat center center;
}


