@CHARSET "ISO-8859-1";

#content {
    padding-top: 10px;
}

#content-body {
    width: 900px;
    height: inherit;
    margin: 0px auto 0px auto;
    background-color: #FFFFFF;
    -webkit-box-shadow: 4px 0px 3px #CCCCCC,  -4px 0px 3px #CCCCCC;
    -moz-box-shadow:    4px 0px 3px #CCCCCC,  -4px 0px 3px #CCCCCC;
    box-shadow:         4px 0px 3px #CCCCCC,  -4px 0px 3px #CCCCCC;
}

#header {
    height: 110px;
    
    background: rgb(237,237,237); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 17%, rgba(255,255,255,1) 66%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,237,237,1)), color-stop(17%,rgba(246,246,246,1)), color-stop(66%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(246,246,246,1) 17%,rgba(255,255,255,1) 66%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(246,246,246,1) 17%,rgba(255,255,255,1) 66%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(246,246,246,1) 17%,rgba(255,255,255,1) 66%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(237,237,237,1) 0%,rgba(246,246,246,1) 17%,rgba(255,255,255,1) 66%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EDEDED', endColorstr='#FFFFFF',GradientType=0 ); /* IE6-9 */
}

#links {
    height: 25px;
    text-align: right;
    border-top: 3px solid #E1061A;
}

#links a {
    margin-right: 5px;
}

#links a img {
    margin-top: 2px;
    border: 0px;
}

#center {
    width: 100%;
    display: inline-block;
}

.portal-content {
    min-height: inherit;
    padding: 3% 5%;
    min-height: 410px;
}

.portal-content > div {
    min-height: inherit;
}

#signUpSection {
    float: left;
    width: 50%;
}

#tryDemoSection {
    float: left;
    width: 50%;
    text-align: center;
    background-image: url("#{resource['images:diagrams.png']}");
    background-repeat: no-repeat;
    background-position: center;
}

#tryDemoCommand {
    width: 150px;
    height: 30px;
    margin-top: 40%;
    
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    border: 0px;
    background-color: #E1061A;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
    -webkit-box-shadow: 4px 3px 10px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    4px 3px 10px rgba(50, 50, 50, 0.75);
    box-shadow:         4px 3px 10px rgba(50, 50, 50, 0.75);
}

#shareSection {
    float: left;
    width: 25%;
    min-height: 490px;
    margin-right: 1%;
}

#diagramsSection {
    float: right;
    border-left: 1px solid #CCCCCC;
    width: 72.5%;
    padding-left: 1%;
    min-height: 490px;
}

.diagramDetailsSection {
    margin: 8px 0px;
    display: block;
}

.diagramDetailsSection-name {
    display: block;
    font-weight: bold;
}

