@CHARSET "ISO-8859-1";

#toolbar {
    border:none;
    background: none;
}

#center {
    min-height: 520px;
}

#center-layout {
    margin: 2px;
    min-height: inherit;
}

#center-layout .pe-layout-pane-content {
    padding: 0px;
    overflow: hidden;
}

#sidebarRight .ui-tree {
    width: 100%;
    border: none;
}

#toolbox {
    overflow: auto;
}

#outline, #toolbox {
    height: inherit;
}

#properties table thead {
    display: none;
}

.editorComponent {
    height: inherit;
    width: inherit;
    background: url("#{resource['images:grid.gif']}");
}