@CHARSET "ISO-8859-1";

#toolbar {
    border:none;
    background: none;
}

#center {
    min-height: 530px;
}

#center-layout {
    margin: 2px;
    min-height: inherit;
}

#center-layout .pe-layout-pane-content {
    padding: 0px;
    overflow: hidden;
}

#components img {
    display: block;
}

.editorComponent {
    height: inherit;
    width: inherit;
    background: url("#{resource['images:grid.gif']}");
}