@CHARSET "ISO-8859-1";

#header, #center {
    background-image: url("#{resource['images:background.jpg']}");
    /*background-color: #EDEDED;*/
}

#footer {
    color: #FFFFFF;
    text-align: center;
    padding: 15px 0px;
    border-top: 3px solid #E1061A;
}