@CHARSET "ISO-8859-1";

#header {
    border-bottom: 3px solid #E1061A;
}

#center {
    padding: 1%;
    width: 98% !important;
}

#diagramButtonsForm button, #sharingButtonsForm button {
    margin-right: 3px;
}