@CHARSET "ISO-8859-1";

body {
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    border: 0;
    margin: 0;
    padding: 0;
    background-color: #151618;
}

.ui-widget {
    font-size: 1em;
}

.ui-datepicker-trigger {
    margin-left: 2px;
}

.ui-separator {
    border-top: 0px !important;
}

.blockElement {
    display: block;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.justify {
    text-align: justify;
}

a:link , a:active, a:visited, a:hover {
    color:inherit;
}